/*  Style imports */
@import "./form.css";

/******************* CSS RESET & default settings */

*, ::before, ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    line-height: 1.8;
    font-family: roboto;
    color: black;
    font-weight: 900;
    overflow-x: hidden;
}

/*********************** CSS VARIABLES */

:root {
    --clr-light: #fff;
    --clr-dark: #333;
    --clr-blue: #6C94C9;
    --clr-accent: #596c2d;
    --clr-wood: #8e624d;
    --image-shadow: 0 .2rem .3rem #333;
}


/********************** GENERAL STYLES */

 main h2 {
    margin-bottom: 100px;
    font-family: adumu;
    font-size: clamp(1.6em ,3vw, 2.6em);
    color: var(--clr-accent);
    text-align: center;
    text-transform: uppercase;
    padding: 20px 10px;
  }
  h2:not(:first-child) {
    margin-top: 100px;
  }

  p {
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-bottom: 0;
  }


/******************** LANDING SCREEN SECTION START */

.top-anchor {
    visibility: hidden;
    position: relative;
    top: -10vh;
}

.buffer {
    width: 100%;
    height: 110px;
}

.top-section {
    position: fixed;
    height: 10vh;
    width: 100%;
    z-index: 1000;
    
}



#chevron-down {
    position: fixed;
    width: 50px;
    height: auto;
    top: 45%;
    left: 50%;
    transform: translate(-50%, 50%);
    fill:none;
    stroke:#fff;
    stroke-width:1px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    animation: chevronAnimate 1s ease 2s forwards;
}


@keyframes chevronAnimate {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


.heading__main {
    position: fixed;
    top: 65vh;
    text-align: center;
    font-family: roboto;
    font-size: 12rem;
    font-weight: 900;
    font-size: clamp(1.3rem, 20vw, 14rem);
    color: var(--clr-blue);
    line-height: .9;
    letter-spacing: 10px;
    width: 100%;
}

.heading__main span:nth-child(1) {
    display: inline-block;
    animation: fromRight 1.6s ease;
}
.heading__main span:nth-child(2) {
    display: inline-block;
    animation: fromLeft 1.6s ease;
}


@keyframes fromRight {
    0% {
      opacity: 0;
      transform: translateX(400px);
    } 
    90% {
        transform: translateX(-20px);
    }
    100% 
    {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @keyframes fromLeft {
    0% {
      opacity: 0;
      transform: translateX(-400px);
    } 
    90% {
        transform: translateX(20px);
    }
    100% 
    {
      opacity: 1;
      transform: translateX(0);
    }
  }




.hero {
    display: grid;
    grid-template-areas: "left-tree right-tree";
    position: fixed;
    top: 0;
    height: 60vh;
    width: 100%;
    z-index: 1;   
}


.left-tree, .right-tree, .woman {
    position: absolute;
}

.left-tree {
    top: 0;
    left: 0;
    z-index: 5;
    grid-area: left-tree;
    height: 100%;
}

.right-tree {
    top: 0;
    right: -100px;
    grid-area: right-tree;
    height: 100%;
}

.woman {
    top: 0;
    left: -100px;
    z-index: 3;
}


.main-nav {
    display: grid;
    grid-template-areas: "logo links";
    padding: 10px;
    position: fixed;
    width: 100%;
    top: 0;
    background: rgba(255,255,255,0);
    transition: all 1s ease;
    z-index: 5000;
}

.main-nav.active {
    background: rgba(255,255,255,.8);
    transform: translateY(0px);
}
.main-nav.active2 {
    background: rgba(255,255,255,1);
    
}


.logo {
    grid-area: logo;
    font-size: 2rem;
    color: var(--clr-dark);
}

.logo a {
    text-decoration: none;
    color: blue;
} 

.nav-links {
    grid-area: links;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.nav-link {
    position: relative;
    cursor: pointer;
   
}



.btn__termine a {
    text-decoration: none;
    font-family: "roboto";
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: var(--clr-light);
    padding: .7rem 1.9rem;
    transform: translateY(-.7rem);
    background: rgba(0, 0, 200, .7);
    cursor: pointer;
}

.nav-link a {
    text-decoration: none;
    font-family: "roboto";
    letter-spacing: 1px;
    font-size: 1.1rem;
    color: var(--clr-light);
    cursor: pointer;
}

.nav-link:hover a::after {
   content: "";
   position: absolute;
   width: 100%;
   height: 2px;
   left: 0;
   bottom: 0;
   background: #333;
}

.nav-link.active a {
    color: var(--clr-dark);
}

#sky-zipline {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
    position: fixed;
    height: 60vh; 
}

#sky-zipline #line {
    height: 40vh;
}

.clouds {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.clouds img {
    position: absolute;
    bottom: 0;
    max-width: 100%;
    animation: cloudy calc(8s * var(--i)) linear infinite;
}

@keyframes cloudy {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}


/* Landing section Media Queries */

/* Hamburger menu */
/* @media (max-width: 1200px) {
    .nav-links {
        flex-direction: column;
        position: absolute;
        top: 50%;
        left: 0;
    }
} */



/**************** X X  LANDING SCREEN SECTION END ********* X X *********/

/** MAIN SECTIONS WRAPPER **/

main.wrapper {
    position: relative;
    top: 100vh;
    z-index: 2;
}

main.wrapper::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 22px;
    background:linear-gradient(to top, var(--clr-light), transparent);
    top: -20px;
}

/************************* START SECTION - START */

.start-section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: var(--clr-light);
    z-index: 2;
    margin-top: 10vh;
}

.start-section::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 70%;
    bottom: 0;
    left: 0;
    background-image: url(images/park-images/log-1200.png);
    background-size: cover;
    opacity: .4;
}


 .start-section .grid-wrapper {
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    
} 

 .start-section .content {
    position: relative;
    padding: 20px;
}


.start-section .content p::first-letter {
    color: var(--clr-wood);
    float: left;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
}

.start-section .showcase {
    position: relative;
    padding: 20px 20px 0 20px;
}

.start-section .pop-up-tag span {
    position: absolute;
    margin-bottom: 40px;
    padding: 10px;
    font-family: roboto;
    color: #fff;
    background: var(--clr-accent);
    font-weight: 900;
    font-size: 1.8em;
    opacity: .7;
    z-index: 100;
    font-size: clamp(1em, 3vw, 3em);  
}

.content .pop-up-tag span {
    bottom: -600px;
    left: 30px;
}

.showcase .pop-up-tag span {
    top: 300px;
    left: 20px;
}


.showcase img {
    width: 100%;
    height: auto;    
} 

.carousel-inner {
    box-shadow: var(--image-shadow);
}




/********************* X X *********** START SECTION - END ****** X X */


/************************** ANGEBOTE SECTION - START */

.angebote-section {
    position: relative;
    min-height: 100vh;
    width: 100%;
    background: var(--clr-light);
    z-index: 2;
}

.angebote-section .autumn-leaf {
    position: absolute;
    width: 230px;
    bottom:  310px;
    z-index: -1;
    opacity: .5;
}

.angebote-section .autumn-leaf2 {
    position: absolute;
    width: 200px;
    right: 180px;
    z-index: -1;
    top: -50px;
    opacity: .5;
}

.angebote-section .autumn-leaf3 {
    position: absolute;
    width: 150px;
    top: 700px;
    right: 20%;
    z-index: -1;
    opacity: .5;
}

.angebote-section .autumn-leaf4 {
    position: absolute;
    width: 250px;
    bottom: 900px;
    left: 0;
    z-index: -1;
    opacity: .4;
}

.angebote-section .flex-wrapper .content {
    display: grid;
    grid-template-columns: repeat(5, 1fr);   
}

.angebote-section p {
    grid-column: span 2;
    padding: 0 20px;
}


.angebote-section figure {
    margin: 0 auto;
    width: 93%;
    height: 400px;
    grid-column: span 3;
    box-shadow: var(--image-shadow);
    overflow: hidden;
}

.angebote-section figure img {
    width: 100%;
    height: 100%;
    object-fit: cover;  
    object-position: 0 0;
    transition: transform .5s ease;
 
}

.angebote-section figure img:hover {
    transform: scale(1.05); 
}

.angebote-section .image-1 {
    position: relative;
    order: -1;
}


.angebote-section .image-3 {
    order: -1;
}




/********************* X X *********** ANGEBOTE SECTION - END ****** X X */


/************************** TOUREN SECTION - START */

.touren-section {
    position: relative;
    height: 100vh;
    width: 100%;
    background: var(--clr-light);
    z-index: 2;
}




/********************* X X *********** TOUREN SECTION - END ****** X X */



/************************** PREISE SECTION - START */

.preise-zeiten-section {
    position: relative;
    height: 100vh;
    width: 100%;
    background: var(--clr-light);
    z-index: 2;
}



/********************* X X *********** PREISE SECTION - END ****** X X */




/**************** MEDIA QUERIES */

@media screen and (max-width: 1200px) {
    .start-section .grid-wrapper {
        display: block;
    }
 
    .showcase h2 span:first-child {
     position: absolute;
     top: 270px;
     left: 0px;
     z-index: 50;
     padding: 10px;
     background: var(--clr-accent);
     opacity: .7;
 }
 
 .showcase {
     width: 90%;
     margin: 0 auto;
 }
 
 .showcase h2 span:last-child {
     position: absolute;
     top: 1000px;
     left: 0;
     z-index: 50;
     padding: 10px;
     background: var(--clr-accent);
     opacity: .7;
 }
 
 .start-section::before {
     width: 100%;
     height: 50%;
     bottom: 200px;
     left: 0;
  }

  .angebote-section .flex-wrapper .content {
    display: block;  
 }

 .angebote-section p {
     padding-bottom: 40px;
 }
 
 }

 @media screen and (max-width: 1024px) {
    .heading__main {
        letter-spacing: 5px; 
        top: 70vh;
    }

    p {
        font-size: 16px;
    }

    .clouds  { 
        top: -5%;
    }
    main.wrapper {
        position: relative;
        top: 80vh;
        z-index: 2;
    }
 }


 @media screen and (max-width: 420px) {

    .heading__main {
        letter-spacing: 5px; 
        top: 75vh;
    }

    p {
        font-size: 12px;
    }

    .clouds  { 
        top: -10%;
    }

    main.wrapper {
        position: relative;
        top: 80vh;
        z-index: 2;
    }
 }

 